# Git 인코딩 설정
*.json text eol=lf charset=utf-8
*.ts text eol=lf charset=utf-8
*.tsx text eol=lf charset=utf-8
*.js text eol=lf charset=utf-8
*.jsx text eol=lf charset=utf-8
*.md text eol=lf charset=utf-8
*.css text eol=lf charset=utf-8

